<% flash.each do |flash_type, message| %>
  <div class="flash__message flex items-center justify-between px-4 py-4 rounded text-slate-800 bg-slate-300" role="alert">
    <%= message %>
  </div>
<% end %>